# build and dist 
/dist
/target
/target-packaged

# BaM exe folder and workspace folder
/exe/*
!/exe/README.txt

# IDE specific stuff
/.settings
.classpath
.project
/.vscode

# test folder and other stuff to ignore
/test
/archive
/.archive
/dist
/log/*.log
*.jar
*.bar.zip
/resources/icons/feather/*
!/resources/icons/feather/trash.svg
!/resources/icons/feather/copy.svg
!/resources/icons/feather/save.svg
!/resources/icons/feather/list.svg
!/resources/icons/feather/lock.svg
!/resources/icons/feather/external-link.svg
!/resources/icons/feather/corner-left-down.svg
!/resources/icons/feather/corner-right-down.svg
!/resources/icons/feather/corner-left-up.svg
!/resources/icons/feather/corner-right-up.svg

# V2 related folder to ignore
/externalLib
/recycle
/.settings
resources/icons/custom/LETTER_ORIGINAL.svg
