# build, dist and BaM exe folder
/dist
/target
/exe

# IDE specific stuff
/.settings
.classpath
.project
/.vscode

# test folder and other stuff to ignore
/test
/archive
/dist
*.jar
*.bar.zip

# V2 related folder to ignore
/externalLib
/recycle
/.settings
