body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #24292f;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 8px;
  border-bottom: 1px solid #dfe2e5;
}

/* customization */
.plot-caption {
  counter-reset: plot-caption;
  --caption-prefix: "Fig.";
}

.plot-caption::before {
  counter-increment: plot-caption;
  content: var(--caption-prefix) " " counter(plot-caption) " : ";
}


h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}


h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}

h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}


/* Paragraphs */
p {
  margin-top: 0;
  margin-bottom: 16px;
}

/* Lists */
ul,
ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* Code blocks */
pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 16px;
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

/* Blockquotes */
blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Horizontal rule */
hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

/* Links */
a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 16px;
}

th,
td {
  padding: 8px 16px;
  border: 1px solid #dfe2e5;
}

th {
  background-color: #f6f8fa;
  font-weight: 600;
}

/* Images */
img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}